@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root{
    font-family: Arial, Helvetica, sans-serif;
    --mobile-width: min(640px, 100vw);
    --web-width: 20vw;
}
h1 {
    font-family: 'Patua One', Arial, Helvetica, sans-serif;
}
#main_container{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#scene_container{
    position: relative;
    background-color: lightgray;
}
#scene_container img{
    position: sticky;
    top: 0%;
    width: var(--mobile-width);
}
#overlay{
    display: flex;
    position: absolute;
    top: 50%;
    width: var(--mobile-width);
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
#overlay img{
    height: 4rem;
    width: auto;
}
#overlay span{
   font-family: 'Patua One', Arial, Helvetica, sans-serif;
   color: white;
   font-size: 4rem;
}
#footnote{
    display: flex;
    position: absolute;
    bottom: 5px;
    width: var(--mobile-width);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: smaller;
    justify-content: left;
    align-items: center;
}
a:link{
    color: white;
    text-decoration: underline;
}
a:visited{
    color: white;
}
#text_container{
    background-color: rgb(245, 245, 245);
    overflow: scroll;
}
#text_body{
    padding: 10px 10px;
}
#form_body{
    background-color: white;
    box-shadow: 0 -1px 3px grey, 0 3px 3px grey;
    padding: 5px;
    margin-bottom: 15px;
}
#input_box{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 0.8rem;
}
input{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    font-size: 1rem;
    max-width: 80vw;
}
input:focus{
    outline: none;
}
input:focus-visible{
    border: 1px solid rgba(0, 0, 255, 0.7);
    box-shadow: 2px 2px 2px lightgray;
}
input:valid{
    border: 1px solid greenyellow;
}
input:optional{
    border: 1px solid rgb(230, 230, 230);
}
button{
    margin: 5px;
    padding: 5px;
    width: max(calc(100% - 10px), 300px);
    border-radius: 15px;

    border: none;
    background-color: rgb(43, 94, 43);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    transition: all 1s;
}
button:hover{
    background-color: rgb(43, 150, 43);
}
button:active{
    background-color: rgb(43, 150, 43);
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7);
}
#log-in{
    padding: 5px 10px;
}
#log-in a{
    color: rgb(43, 94, 43);
    font-weight: bold;
    text-decoration: none;
}


@media screen and (min-width: 640px){
    #main_container {
        flex-direction: row;
    }
    #scene_container>img{
        width: auto;
        height: 100vh;
    }
    #overlay{
        position: sticky;
        top: 0;
        bottom: 60vh;
        z-index: 1;
        width: calc(calc(2/3)*100vh);
    }
    #overlay span{
        font-size: 10vh;
    }
    #footnote{
        width: fit-content;
    }
    #footnote span{
        width: calc(calc(2/3)*100vh);
    }
    #text_container{
        flex-grow: 2;
    }

}
@media screen and (min-width: 1200px){
    #scene_container img{
        position: static;
        display: block;
    }
    #overlay{
        position: absolute;
        top: 40vh;
        bottom: initial;
        z-index: 1;
        width: calc(calc(2/3)*100vh);
    }
    form{
        margin: 50px 0;
    }
    #form_body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h2{
        width: calc(100vw - calc(calc(2/3)*100vh) - 15px);
    }
    #input_box{
        width: 500px;
        margin: 20px 100px 20px 5px;
        margin-right: 100px;
    }
    input{
        line-height: 2rem;
        margin: 5px 5px 5px 0px;
    }
    button{
        margin: 15px;
        width: 15vw;
        height: 2vw;
    }

}